div
    h1 Mock SSO

    h3 Choose SSO sign-in result:
    ul
        li
            a(href='/authorized?redirect_uri=#{redirect_uri}') Authorized
        li
            a(href='/unauthorized') Not Authorized
